In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('filtered_comprehensive.csv')

In [3]:
df.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0', 'Unnamed: 1',
       'Unnamed: 0.1', 'title_x', 'artist_x', 'year_x', 'key', 'Unnamed: 0_x',
       'url', 'WeekID', 'Week Position', 'Song', 'Performer', 'SongID',
       'Instance', 'Previous Week Position', 'Peak Position', 'Weeks on Chart',
       'Lyrics', 'Artist', 'words', 'wordCount', 'languages', 'all_words',
       'allWordCount', 'year_y', 'decade', 'MTLD', 'TTR', 'CTTR',
       'sentimentScore', 'sentimentScore_pos', 'sentimentScore_neg',
       'emo_words', 'emoWordCount', 'joy', 'joy_normalized', 'sadness',
       'sadness_normalized', 'anger', 'anger_normalized', 'disgust',
       'disgust_normalized', 'trust', 'trust_normalized', 'anticipation',
       'anticipation_normalized', 'fear', 'fear_normalized', 'surprise',
       'surprise_normalized', 'emo_score', 'happy', 'happy_normalized',
       'sorrow', 'sorrow_normalized', 'year', 'lower_title', 'Unnamed: 0_y',
       'title_y', 'artist_y', 'chartmetric_id', 'name', 'artist_country',
       'pronoun', 'gender', 'is_band', 'genre', 'tokens', 'processed_tokens',
       'topic', 'unique_tokens', 'tokens_list', 'set_size', 'lang'],
      dtype='object')

In [4]:
extract = df[['title_x', 'artist_x', 'year_x','pronoun','gender','tokens_list','decade']]

In [5]:
extract.head(15)

,title_x,artist_x,year_x,pronoun,gender,tokens_list,decade
0,come softly to me,the fleetwoods,1959,they/them,NaN,"[""'come'"", ""'softly'"", ""'lyricsdoo'"", ""'dooby'...",NaN
1,heartaches by the number,guy mitchell,1959,he/him,male,"[""'heartache'"", ""'number'"", ""'trouble'"", ""'sco...",50s
2,kansas city,wilbert harrison,1959,he/him,male,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
3,kansas city,wilbert harrison,1959,NaN,NaN,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
4,kansas city,wilbert harrison,1959,NaN,NaN,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
5,kansas city,hank ballard and the midnighters,1959,he/him,male,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
6,kansas city,hank ballard and the midnighters,1959,NaN,NaN,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
7,kansas city,hank ballard and the midnighters,1959,NaN,NaN,"[""'going'"", ""'kansa'"", ""'city'"", ""'kansa'"", ""'...",50s
8,lonely boy,paul anka,1959,he/him,male,"[""'lonely'"", ""'boy'"", ""'lonely'"", ""'blue'"", ""'...",50s
9,mack the knife,bobby darin,1959,he/him,male,"[""'shark'"", ""'babe'"", ""'teeth'"", ""'dear'"", ""'s...",50s
10,mr. blue,the fleetwoods,1959,they/them,NaN,"[""'guardian'"", ""'star'"", ""'lost'"", ""'glow'"", ""...",50s
11,smoke gets in your eyes,the platters,1959,they/them,NaN,"[""'asked'"", ""'knew'"", ""'true'"", ""'love'"", ""'tr...",50s
12,stagger lee,lloyd price,1959,he/him,male,"[""'night'"", ""'clear'"", ""'moon'"", ""'yellow'"", ""...",50s
13,the battle of new orleans,johnny horton,1959,he/him,male,"[""'took'"", ""'little'"", ""'trip'"", ""'along'"", ""'...",50s
14,the battle of new orleans,johnny horton,1959,he/him,male,"[""'took'"", ""'little'"", ""'trip'"", ""'along'"", ""'...",50s

In [6]:
extract['gender'].value_counts()

male                 10966
female                2175
mixed                  493
non-binary              37
genderfluid             22
genderqueer              4
androgynous              3
transgender woman        1
Name: gender, dtype: int64

In [11]:
df.groupby(by=['decade'])['gender'].value_counts()

decade  gender
00s     male                 1317
        female                482
        mixed                  53
        genderfluid             9
        non-binary              5
        transgender woman       1
10s     male                 1889
        female                639
        mixed                 210
        non-binary             25
        genderfluid            11
        genderqueer             3
        androgynous             2
20s     male                  259
        female                 97
        non-binary              4
        genderfluid             1
        genderqueer             1
        mixed                   1
50s     male                  212
        female                  3
60s     male                 2120
        female                119
        mixed                  46
70s     male                 1779
        female                174
        mixed                  55
80s     male                 1523
        female                219
        mixed                  71
90s     male                  919
        female                241
        mixed                  40
        androgynous             1
Name: gender, dtype: int64