In [65]:
import pandas as pd

In [66]:
df = pd.read_csv('lyrics_public.csv')

In [67]:
df['Song'] = df['Song'].str.lower()
df['SongID'] = df['SongID'].str.lower()
df.head()
df

,Unnamed: 0,url,WeekID,Week Position,Song,Performer,SongID,Instance,Previous Week Position,Peak Position,...,anticipation_normalized,fear,fear_normalized,surprise,surprise_normalized,emo_score,happy,happy_normalized,sorrow,sorrow_normalized
0,0,http://www.billboard.com/charts/hot-100/1963-0...,6/1/1963,11,still,bill anderson,stillbill anderson,1.0,17.0,11.0,...,0.020294,3.387,0.033206,1.516,0.014863,31.281,19.907,0.195167,11.374,0.111510
1,1,http://www.billboard.com/charts/hot-100/1967-0...,1/7/1967,11,coming home soldier,bobby vinton,coming home soldierbobby vinton,1.0,17.0,11.0,...,0.005624,0.000,0.000000,0.000,0.000000,17.127,11.262,0.121097,5.865,0.063065
2,3,http://www.billboard.com/charts/hot-100/1975-1...,11/29/1975,11,saturday night,bay city rollers,saturday nightbay city rollers,1.0,17.0,11.0,...,0.005283,0.000,0.000000,0.438,0.003021,9.760,8.994,0.062028,0.766,0.005283
3,5,http://www.billboard.com/charts/hot-100/1987-0...,9/19/1987,11,carrie,europe,carrieeurope,1.0,17.0,11.0,...,0.058026,5.526,0.047231,5.625,0.048077,35.788,11.495,0.098248,24.293,0.207632
4,6,http://www.billboard.com/charts/hot-100/1987-1...,10/3/1987,11,casanova,levert,casanovalevert,1.0,17.0,11.0,...,0.023054,1.242,0.007393,0.422,0.002512,40.625,30.756,0.183071,9.869,0.058744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22595,325636,http://www.billboard.com/charts/hot-100/1985-0...,7/27/1985,82,you look marvelous,billy crystal,you look marvelousbilly crystal,1.0,NaN,82.0,...,0.008592,4.212,0.015485,9.977,0.036680,65.506,52.148,0.191721,13.358,0.049110
22596,325648,http://www.billboard.com/charts/hot-100/1963-0...,9/28/1963,70,you lost the sweetest boy,mary wells,you lost the sweetest boymary wells,1.0,NaN,70.0,...,0.032139,7.207,0.062670,1.915,0.016652,45.737,16.471,0.143226,29.266,0.254487
22597,325657,http://www.billboard.com/charts/hot-100/1969-0...,8/2/1969,96,you made a believer (out of me),ruby andrews,you made a believer (out of me)ruby andrews,1.0,NaN,96.0,...,0.021875,0.000,0.000000,0.852,0.007607,42.419,37.528,0.335071,4.891,0.043670
22598,325659,http://www.billboard.com/charts/hot-100/1977-0...,6/4/1977,69,you made me believe in magic,bay city rollers,you made me believe in magicbay city rollers,1.0,NaN,69.0,...,0.000000,0.000,0.000000,0.000,0.000000,20.485,19.766,0.366037,0.719,0.013315
22599,325676,http://www.billboard.com/charts/hot-100/1959-0...,5/2/1959,87,you made me love you,nat king cole,you made me love younat king cole,1.0,NaN,87.0,...,0.064455,1.907,0.034673,1.022,0.018582,22.578,12.412,0.225673,10.166,0.184836

In [68]:
hot = pd.read_csv('hot100_cleaned.csv')

In [69]:
hot.head()
hot

                          title                              artist  year
0            A Big Hunk O' Love  Elvis Presley With The Jordanaires  1959
1             Come Softly To Me                      The Fleetwoods  1959
2      Heartaches By The Number                        Guy Mitchell  1959
3                   Kansas City                    Wilbert Harrison  1959
4                    Lonely Boy                           Paul Anka  1959
...                         ...                                 ...   ...
30012      Colombia, Mi Encanto                        Carlos Vives  2022
30013                 Down Home                        Jimmie Allen  2022
30014                Euthanasia                         Post Malone  2022
30015           Praise The Lord      BRELAND Featuring Thomas Rhett  2022
30016                   Sin Fin    Romeo Santos & Justin Timberlake  2022

[30017 rows x 3 columns]

In [70]:
hot['title'] = hot['title'].str.lower()
hot['artist'] = hot['artist'].str.lower()
hot['key'] = hot['title'] + hot['artist']
hot.head()

,title,artist,year,key
0,a big hunk o' love,elvis presley with the jordanaires,1959,a big hunk o' loveelvis presley with the jorda...
1,come softly to me,the fleetwoods,1959,come softly to methe fleetwoods
2,heartaches by the number,guy mitchell,1959,heartaches by the numberguy mitchell
3,kansas city,wilbert harrison,1959,kansas citywilbert harrison
4,lonely boy,paul anka,1959,lonely boypaul anka

In [71]:
merged = pd.merge(hot,df,left_on='key',right_on='SongID',how='left')
merged.to_csv('song_lyrics.csv')